<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="URL" value="https://ondemand.questionmark.com/home/403160/"/>
    <add key="UserDataFilePath" value="C:\testdata\Participants.csv"/>
    <add key="Browser" value="Chrome"/>
    <add key="TestDataFilePath"  value="C:\testdata\TestScenario1_TestData.xml"/>
  </appSettings>
</configuration>
