<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carbon.Data.Protection" version="0.19.1" targetFramework="net461" />
  <package id="Carbon.Json" version="1.9.0" targetFramework="net461" />
  <package id="Carbon.Packaging" version="1.28.0" targetFramework="net461" />
  <package id="Carbon.Storage" version="1.16.0" targetFramework="net461" />
  <package id="Carbon.VersionControl" version="1.8.1" targetFramework="net461" />
  <package id="Carbon.Versioning" version="1.5.0" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net461" />
  <package id="GitHub" version="1.13.1" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.11.2" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.45.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.23.0.3" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver64" version="3.11.0.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net461" />
</packages>